player-connection-mode=Listen
player-connection-guid=3029874633
player-connection-debug=0
player-connection-project-name=Football Lineup Builder
player-connection-ip=192.168.1.44
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=efd52c83655d49a28a864d082fdfc638
